:root{
    --black:  black;
    --dblack: rgb(236, 221, 221);
    --cymon: #AEDEE0;
    --dcymon : #000000
    --red: rgb(196, 55, 55);
    --dred: rgb(222, 234, 54);
    --white:  rgb(211, 208, 208);
    --dwhite: rgb(16, 2, 2);
}

*::selection{
    background-color: rgba(139, 221, 181, 0.666);
}

body[theme="black"]{
    background-color: var(--black);
}

body[theme="black"] .section{
    color: var(--dblack);
}

body[theme="cymon"]{
    background-color: var(--cymon);
}
body[theme="cymon"] .section{
    color: var(--dcymon);
}

body[theme="red"]{
    background-color: var(--red);
}
body[theme="red"] .section{
    color: var(--dred);
}

body[theme="white"]{
    background-color: var(--white)
}
body[theme="white"] .section{
    color: var(--dwhite);
}